#!/bin/bash
export AMD_VULKAN_ICD=RADV
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export TERM=xterm-256color
export EDITOR=/usr/bin/vim
export VISUAL=vim

# Set pyenv root directory
if [[ -d ~/.pyenv ]]; then
    export PYENV_ROOT="$HOME/.pyenv"
fi

# Set history size and ignores
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
export HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* add *";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";
export MANTIS='172.29.249.222'
export AUTHMETHOD_PTH=PTH
export AUTHMETHOD_PTT=PTT
export AUTHMETHOD_PFX=PFX
export AUTHMETHOD_PASS=PASS
